@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities; 
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


/* Isso garante que o fundo seja sempre claro, independente do sistema */
body {
  background-color: #f8fafc; /* Um cinza bem clarinho (slate-50) */
  color: #1e293b; /* Azul escuro para os textos (slate-800) */
}
@keyframes fadeIn {
from { opacity:0 }
to { opacity:1 }
}

.animate-fadeIn{
animation: fadeIn .35s ease forwards;
}

@keyframes modalZoom {
from{
opacity:0;
transform:scale(.85) translateY(20px);
}
to{
opacity:1;
transform:scale(1) translateY(0);
}
}

.animate-modalZoom{
animation: modalZoom .35s ease forwards;
}
@keyframes fadeIn {
from {opacity:0}
to {opacity:1}
}

.animate-fadeIn{
animation: fadeIn .35s ease forwards;
}

@keyframes modalZoom{
from{
opacity:0;
transform:scale(.85) translateY(20px);
}
to{
opacity:1;
transform:scale(1) translateY(0);
}
}

.animate-modalZoom{
animation: modalZoom .35s ease forwards;
}

@keyframes waveMove{
0%{
transform:translateX(0);
}
100%{
transform:translateX(-50%);
}
}

.animate-wave{
animation: waveMove 12s linear infinite;
}